.testimonial{
	padding-top: 100px;

	max-height: 500px;
	display: flex;
	overflow-x: auto;

}

.testimonial .col-3{

	text-align: center;
	border-radius: 10px;
	padding: 40px 20px;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0,0.1);
	cursor: pointer;
	transition: transform 0.5s;
}

.testimonial .col-3 img{
	width: 80px;
	margin-top: 20px;
	border-radius: 50%;
}
.testimonial .col-3:hover{
	transform: translateY(-10px);
}

.fa.fa-quote-left{
	font-size: 34px;
	color: limegreen;
}
.col-3 p {
	font-size: 12px;
	margin: 12px 0;
	color:#D2691E;
}
.testimonial .col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;

}