


body {
    background-color: rgb(165, 93, 224);
}
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
input[type="text"], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
input[type="submit"] {
    background-color: #6641b5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #5a3999;
}
h2{
    color: white;
}