body {
    background-color: rgb(165, 93, 224);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /*Place the logo in the left and other links*/
  .topnav .logo{
    float: left;
    font-weight: bold;
    font-size: larger;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color:black;
    font-size: 20px;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}
input[type="text"], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
input[type="submit"] {
    background-color: #6641b5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #5a3999;
}
h2{
    color: white;
}