@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f1f1f1;
}

.navbar {
  display: flex;
  background-color: white;
  justify-content: space-between;
  border-bottom: 1px solid #c2c2c2;

  padding: 10px 25px 10px 25px;
}

main {

  padding: 18px 0 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;



}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0;
  padding: 0;

}

.cont-left {
  width: 23%;
  height: auto;



}

.cont-right {
  width: 77%;
  height: 100%;



}

nav {
  width: auto;
  height: auto;
  background-color: #2d2b32;
}

nav ul {
  list-style: none;
  width: 100%;

}

nav ul li {
  display: inline-block;
  width: 100%;
  background-color: #2d2b32;
  padding: 12px;
  margin-top: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

nav ul li:hover {
  transform: scale(1.1);
}

nav ul li a {
  text-decoration: none;

  color: #b8b8b8;

  font-size: 15px;
  font-weight: 400;
}

nav ul li a:hover {
  color: white;
  text-decoration: none;
}

.line {
  border: 1px solid white;
}


table {
  width: 100%;
  height: 500px;
  font-size: 13px;
}
.box-card{
  padding: 10px;
  background-color: white;
}
 
.box-card a{
  text-decoration: none;
  color: #2d2b32;
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .cont-left {
    width: 100%;
    padding: 0 20px 0 20px;
  }

  .cont-right {
    width: 100%;
  }
}
.editbtn{
  display:flex;
  justify-content: center;
  align-items: center;
}
.archive{
  display:flex;
  justify-content: center;
  align-items: center;
}